#home_section
{
	position: relative;
	z-index: 1;
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	background: radial-gradient(ellipse at bottom, #0b1829 0%, #000000 100%);
}

#particles
{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: all;
	-webkit-mask-image: linear-gradient(to bottom, transparent 50px, black 200px);
	mask-image: linear-gradient(to bottom, transparent 50px, black 200px);
}

#home_section .content
{
	pointer-events: none;
	align-items: flex-start;
}

#home_section .hi
{
	pointer-events: all;
	font-family: raleway_semi_bold;
	font-size: 16px;
	color: var(--light_blue);
}

#home_section .name
{
	pointer-events: all;
	font-family: calibre_semi_bold;
	font-size: clamp(40px, 8vw, 80px);
	color: var(--white);
	margin-top: 25px;
}

#home_section .title
{
	pointer-events: all;
	font-family: calibre_semi_bold;
	font-size: clamp(40px, 8vw, 80px);
	color: var(--light_gray);
}

#home_section .bio
{
	pointer-events: all;
	font-family: calibre_regular;
	max-width: 470px;
	font-size: 20px;
	color: var(--light_gray);
	line-height: 1.3;
	margin-top: 15px;
}

#home_section .home_button
{
	margin-top: 50px;
}


.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
    margin-left: 80px;
}

.headshot-container {
    display: flex;
    align-items: center;
}
.project-card {
    width: 370px;
    background: #ffffff;
    color: black;
    height: 450px;
    display: flex;
    margin: 10px;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    border: 2px solid rgb(0 0 0 / 70%);; /* Bordure solide avec une transparence de 40% */
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.project-card:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image {
    margin-top: 5px;
    width: 250px;
    border-radius: 10px;
    max-width: 250px;
    max-height: 100px;
    
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}
.project-card p{
    width: 90%;
    
}

body {
    font-family: "Montserrat", sans-serif;
    background: #1e293b;
    color: #f8fafc;
    margin: 0;
    padding: 0;
}

.app {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    text-align: center;
}

header h1 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    header h1 {
        font-size: 3rem;
    }
}

header p {
    color: #94a3b8;
}

.tag-list {
    width: 50rem;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
    position: relative;
    padding: 1.5rem 0;
    overflow: hidden;
}

.loop-slider .inner {
    display: flex;
    animation: loop 10s ease-in-out infinite alternate;
    animation-fill-mode: forwards;
}
h1{
    font-size: 85px  !important;
}
h2{
    font-size: 75px !important;
}
.tag {
    display: flex;
    margin-left: 5%;
    margin-bottom: 5%;
    align-items: center;
    gap: 0 5.199999999999999rem;
    color: #e2e8f0;
    font-size: 0.9rem;
    background-color: #334155;
    border-radius: 0.4rem;
    padding: 0.7rem 1rem;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3), 0 0.2rem 1.5rem rgba(0, 0, 0, 0.4);
}

@keyframes loop {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-20%);
    }
}
.resume-competences {
    list-style-type: none;
    padding: 15px;
}

.resume-competences li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
}

/* Style pour les titres des compétences */
.resume-competences li::before {
    content: "✓"; /* Symbole de vérification */
    margin-right: 10px;
    color: #007bff;
    font-weight: bold;
}
.lien-anime {
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
    text-align: center; /* Centrer le texte horizontalement */
    display: inline-block; /* Permet de centrer la flèche sous le texte */
    position: relative;
}

.lien-anime::after {
    content: " ➔"; /* Flèche de direction */
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    left: 50%; /* Position horizontale au milieu */
    bottom: -20px; /* Ajustez la valeur pour aligner la flèche verticalement */
    transform: translateX(-50%); /* Décalage horizontal pour centrer */
}

.lien-anime:hover::after {
    opacity: 1;
}

#skills_section {
    background-color: #f0f0f0;
    padding: 50px 0;
    text-align: center;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

.section_title {
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
    font-weight: bold;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-card {
    width: 250px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}
.skill-level {
    font-size: 18px;
    color: #666; /* Couleur pour le texte du niveau de compétence */
    margin-top: 10px;
}

.skill-card:hover {
    transform: translateY(-5px);
}

.skill-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.progress-bar {
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar.react-progress {
    width: 60%; /* Ajustez la largeur pour refléter votre niveau de compétence */
    background-color: #61dafb7a; /* Couleur pour React */
}

.progress-bar.html-css-progress {
    width: 80%; /* Ajustez la largeur pour refléter votre niveau de compétence */
    background-color: #f16529b0; /* Couleur pour HTML/CSS */
}

.progress-bar.node-express-progress {
    width: 30%; /* Ajustez la largeur pour refléter votre niveau de compétence */
    background-color: #6cc24a; /* Couleur pour Node.js/Express */
}

.progress-bar.unity-progress {
    width: 50%; /* Ajustez la largeur pour refléter votre niveau de compétence */
    background-color: #000000b0; /* Couleur pour Unity */
}

.progress-bar.typescript-progress {
    width: 20%; /* Ajustez la largeur pour refléter votre niveau de compétence */
    background-color: #3178c6; /* Couleur pour TypeScript */
}

.progress-bar.javascript-progress {
    width: 70%; /* Ajustez la largeur pour refléter votre niveau de compétence */
    background-color: #f0db4fa1; /* Couleur pour JavaScript */
}